In [ ]:
job_title = "title1"
job_location = "location1"
job_salary = 2000

In [ ]:
def info(title, location, salary):
    return print(f"JOB:       {title}\nLocation:  {location}\nSALARY:     ${salary:,.0f}")

In [ ]:
info(job_title, job_location, job_salary)

JOB:       title1
Location:  location1
SALARY:     $2,000

In [ ]:
skills= "this is a test"

In [ ]:
skills = ["test", "was", "ist"]

In [ ]:
print(skills)
" ,".join(skills)
f"this {job_title}, is a test: {job_salary}"

['test', 'was', 'ist']

'this title1, is a test: 2000'

In [ ]:
mio=1_000_000
K=1_000
KK= 100_000
print(2*mio, 2*K, 3*KK)

2000000 2000 300000

In [ ]:
rest=[1,4,5,7,2,3]
print(rest)
test=(rest[1:4])
rest.sort()
print(rest)
print(test)

[1, 4, 5, 7, 2, 3]
[1, 2, 3, 4, 5, 7]
[4, 5, 7]

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-05-15'},
    {'job_title': 'Data Analyst', 'job_skills': "['SQL', 'R', 'Tableau']", 'job_date': '2023-05-10'},
    {'job_title': 'Business Intelligence Developer', 'job_skills': "['SQL', 'PowerBI', 'Data Warehousing']", 'job_date': '2023-05-08'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Spark', 'Hadoop']", 'job_date': '2023-05-18'},
    {'job_title': 'AI Specialist', 'job_skills': "['Python', 'PyTorch', 'AI Ethics']", 'job_date': '2023-05-20'}
]

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2024, 7, 2, 16, 55, 59, 96453)

In [ ]:
data_science_jobs[0]

{'job_title': 'Data Scientist',
 'job_skills': "['Python', 'SQL', 'Machine Learning']",
 'job_date': '2023-05-12'}

In [ ]:
a=data_science_jobs[0]['job_date']

In [ ]:
datetime.strptime(a, '%Y-%m-%d')

datetime.datetime(2023, 5, 12, 0, 0)

In [ ]:
import ast
for job in data_science_jobs:
  job['job_date'] = datetime.strptime(a, '%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['SQL', 'R', 'Tableau'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Business Intelligence Developer',
  'job_skills': ['SQL', 'PowerBI', 'Data Warehousing'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Spark', 'Hadoop'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'AI Specialist',
  'job_skills': ['Python', 'PyTorch', 'AI Ethics'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)}]

In [ ]:
file = open('sample_data/california_housing_test.csv')
content = file.read()
file.close()

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']},
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
qualified_roles = []

for job in job_roles:
  qualified = True
  for skill in my_skills:
    if skill not in job['skills']:
      qualified = False
      break
  if qualified:
    qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

In [ ]:
for job in job_roles:

TypeError: 'in <string>' requires string as left operand, not dict

In [ ]:
class test:
  def __init__(t, s):
    t.s = s

In [ ]:
W = test(100)
W.s

100

__main__.test

In [ ]:
! pip install datasets

Collecting datasets
  Downloading datasets-2.20.0-py3-none-any.whl (547 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 547.8/547.8 kB 5.4 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from datasets) (3.15.4)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from datasets) (1.25.2)
Collecting pyarrow>=15.0.0 (from datasets)
  Downloading pyarrow-16.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 12.4 MB/s eta 0:00:00
Requirement already satisfied: pyarrow-hotfix in /usr/local/lib/python3.10/dist-packages (from datasets) (0.6)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 8.6 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from datasets) (2.0.3)
Collecting requests>=2.32.2 (from datasets)
  Downloading requests-2.32.3-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.9/64.9 kB 4.9 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.10/dist-packages (from datasets) (4.66.4)
Collecting xxhash (from datasets)
  Downloading xxhash-3.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.1/194.1 kB 11.2 MB/s eta 0:00:00
Collecting multiprocess (from datasets)
  Downloading multiprocess-0.70.16-py310-none-any.whl (134 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.8/134.8 kB 12.8 MB/s eta 0:00:00
Requirement already satisfied: fsspec[http]<=2024.5.0,>=2023.1.0 in /usr/local/lib/python3.10/dist-packages (from datasets) (2023.6.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from datasets) (3.9.5)
Requirement already satisfied: huggingface-hub>=0.21.2 in /usr/local/lib/python3.10/dist-packages (from datasets) (0.23.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from datasets) (24.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from datasets) (6.0.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->datasets) (4.0.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.21.2->datasets) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.32.2->datasets) (2024.6.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.16.0)
Installing collected packages: xxhash, requests, pyarrow, dill, multiprocess, datasets
  Attempting uninstall: requests
    Found existing installation: requests 2.31.0
    Uninstalling requests-2.31.0:
      Successfully uninstalled requests-2.31.0
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 14.0.2
    Uninstalling pyarrow-14.0.2:
      Successfully uninstalled pyarrow-14.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pyarrow<15.0.0a0,>=14.0.1, but you have pyarrow 16.1.0 which is incompatible.
google-colab 1.0.0 requires requests==2.31.0, but you have requests 2.32.3 which is incompatible.
ibis-framework 8.0.0 requires pyarrow<16,>=2, but you have pyarrow 16.1.0 which is incompatible.
Successfully installed datasets-2.20.0 dill-0.3.8 multiprocess-0.70.16 pyarrow-16.1.0 requests-2.32.3 xxhash-3.4.1

In [ ]:
from datasets import load_dataset

dataset = load_dataset("lukebarousse/data_jobs")
df = dataset["train"].to_pandas()

In [ ]:
df[["job_title_short","job_location"]].head(10)

        job_title_short                  job_location
0  Senior Data Engineer                 Watertown, CT
1          Data Analyst  Guadalajara, Jalisco, Mexico
2         Data Engineer               Berlin, Germany
3         Data Engineer               San Antonio, TX
4         Data Engineer                Washington, DC
5         Data Engineer                      Anywhere
6  Senior Data Engineer                  Dearborn, MI
7         Data Engineer                      Anywhere
8      Business Analyst           Copenhagen, Denmark
9        Data Scientist                      Anywhere

In [ ]:
df.iloc[90:100, 0:4] #rows ,colums

         job_title_short  ...                         job_via
90        Data Scientist  ...             via BeBee Australia
91        Data Scientist  ...                 via BeBee Chile
92         Data Engineer  ...                    via LinkedIn
93          Data Analyst  ...                    via LinkedIn
94         Data Engineer  ...                    via LinkedIn
95         Data Engineer  ...  via Crimsoniteam.freshteam.com
96         Data Engineer  ...                    via LinkedIn
97          Data Analyst  ...                   via Totaljobs
98  Senior Data Engineer  ...  via SmartRecruiters Job Search
99         Data Engineer  ...                    via LinkedIn

[10 rows x 4 columns]

In [ ]:
df.job_title_short.unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [ ]:
df[(df.job_title_short == "Data Analyst") & (df.salary_year_avg.notna())]

       job_title_short  ...                                    job_type_skills
109       Data Analyst  ...  {'analyst_tools': ['alteryx', 'tableau'], 'pro...
180       Data Analyst  ...         {'analyst_tools': ['excel', 'powerpoint']}
410       Data Analyst  ...  {'analyst_tools': ['word', 'excel', 'visio', '...
988       Data Analyst  ...  {'analyst_tools': ['excel', 'tableau'], 'progr...
1413      Data Analyst  ...  {'analyst_tools': ['excel', 'power bi'], 'prog...
...                ...  ...                                                ...
784033    Data Analyst  ...         {'analyst_tools': ['power bi', 'tableau']}
784423    Data Analyst  ...         {'analyst_tools': ['tableau', 'power bi']}
784882    Data Analyst  ...  {'analyst_tools': ['tableau', 'excel', 'altery...
785187    Data Analyst  ...  {'analyst_tools': ['looker'], 'programming': [...
785515    Data Analyst  ...                                               None

[5451 rows x 17 columns]

In [ ]:
import pandas as pd

In [ ]:
df["job_posted_date"] = pd.to_datetime(df.job_posted_date)

In [ ]:
df["job_posted_month"] = df.job_posted_date.dt.month
df

             job_title_short  ... job_posted_month
0       Senior Data Engineer  ...                6
1               Data Analyst  ...                1
2              Data Engineer  ...               10
3              Data Engineer  ...                7
4              Data Engineer  ...                8
...                      ...  ...              ...
785736     Software Engineer  ...                3
785737          Data Analyst  ...                3
785738      Business Analyst  ...                3
785739         Data Engineer  ...                3
785740     Software Engineer  ...                3

[785741 rows x 18 columns]

In [ ]:
df.sort_values(by="job_posted_date",inplace=True)

In [ ]:
df.drop(labels="salary_hour_avg", axis=1,inplace = True)

KeyError: "['salary_hour_avg'] not found in axis"

In [ ]:
df.dropna(subset=["salary_year_avg"], inplace=True)

In [ ]:
df["salary_year_avg"].median()

115000.0

In [ ]:
df["salary_year_avg"].min()

15000.0

In [ ]:
min_salary = df["salary_year_avg"].idxmin()

In [ ]:
df["job_title_short"].unique()

array(['Data Scientist', 'Data Engineer', 'Business Analyst',
       'Data Analyst', 'Senior Data Engineer', 'Senior Data Scientist',
       'Senior Data Analyst', 'Software Engineer',
       'Machine Learning Engineer', 'Cloud Engineer'], dtype=object)

In [ ]:
df["job_title_short"].value_counts() #value_counts

job_title_short
Data Scientist               5922
Data Analyst                 5451
Data Engineer                4500
Senior Data Scientist        1690
Senior Data Engineer         1591
Senior Data Analyst          1131
Business Analyst              610
Machine Learning Engineer     576
Software Engineer             467
Cloud Engineer                 65
Name: count, dtype: int64

In [ ]:
df.groupby(["job_title_short","job_country"])["salary_year_avg"].min()

job_title_short    job_country
Business Analyst   Argentina               63000.0
                   Australia               63000.0
                   Bangladesh              16500.0
                   Belgium                 72900.0
                   Bulgaria                63000.0
                                            ...
Software Engineer  Ukraine                 54000.0
                   United Arab Emirates    79200.0
                   United Kingdom          89100.0
                   United States           48982.0
                   Vietnam                 28000.0
Name: salary_year_avg, Length: 598, dtype: float64

In [ ]:
df.groupby("job_title_short")["salary_year_avg"].agg(["min", "max","mean"])